﻿@model Calculators.Engine.MathematicModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <img src="~/Content/logo.jpg"/>
    </div>
    <div class="col-md-4">
        <h2>Let me see...</h2>
        @using (Html.BeginForm("Calculate", "Home"))
        {
            <div>@Html.EditorFor(m => m.First)</div>
            <div>
                <select id="operation" name="operation">
                    <option value="add">+</option>
                </select>
            </div>
            <div>@Html.EditorFor(m => m.Second)</div>
            <input type="submit" value="Calculate" id="btnCalculate" class="btn btn-default"/>
        }

    </div>
    <div id="operationPreview"></div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/ShowPreview.js")
}
